@import '../../scss/variables.scss';

.item-list-container {
  @include center-layout();
  font-size: 18px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    justify-content: center;
  }
}