.product-qty-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .product-qty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    border: solid 1px #000000;
    width: 75px;

    button {
      width: 25px;
      height: 35px;
      border-radius: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      color: #A8180F;


      &:hover {
        opacity: 0.4;
      }
    }

    p {
      font-size: 18px;
      padding: 0 10px;
      margin: 0;
      height: 23.8px;
      line-height: 24px;
    }
  }
}

.product-stock {
  margin: 5px 0;
  font-size: 14px;
}