//imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

//mixins
@mixin center-layout() {
  width: 100%;
  max-width: calc(1280px + 20px);
  padding: 0;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: calc(100% - 20px);
  }
}

@mixin buy-button() {
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

//variables

//general styles
html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.general-container {
  max-width: 1300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1024px) {
    margin: 0 20px;
    width: calc(100% - 20px);
  }
}